.GameSelection {
    width: 100%;
    background: lightskyblue;
}

.GameSelection .GameIconArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

@media (max-width: 700px) {
    .GameSelection .GameIconArea {
        grid-template-columns: 1fr;
    }
}

.GameSelection .Game {
    margin: 10px;
    width: auto;
    height: 0;
    padding-bottom: 75%;
    background: lightseagreen;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 20px -6px rgba(0,0,0,0.68);
}

.GameSelection .GameTitle {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 8pt;
    background: #FFFFFF66;
}
