.IconBar {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    background: #ddd;
    height: 50px;
    border-radius: 25px;
}

.IconBar-expander {
    display: inline-block;
}

.IconBar-icons {
    display: flex;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}

.IconBar > .IconBar-icons {
    transition: width 0.3s ease-in-out;
    width: 120px;
}

.IconBar.closed > .IconBar-icons {
    width: 0;
}

.IconBar .Icon {
    margin-left: 10px;
}

.IconBar .IconBar-expander .Icon {
    margin-left: 0px;
}
