.Page {
    width: 100%;
    background: white;
}

.Page > .Header {
    position: relative;
    padding: 0;
    margin: 0;
    height: 80px;
    border-bottom: 1px solid #cdcdcd;
    text-align: center;
    background-color: #f5f5f5;
}

.Page > .Header h1 {
    padding: 0;
    margin: 0;
    padding-top: 25px;
    font-size: 20pt;
}

.Page > .Header > .PageIcons {
    position: absolute;
    right: 10px;
    top: 10px;
}

.Page .Content {
    padding: 0;
    margin: 0;
}
