.Page {
    width: 100%;
    background: white;
}

.Page.all-caps {
    text-transform: uppercase;
}

.Page-Header {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 80px;
    border-bottom: 1px solid #cdcdcd;
    text-align: center;
    background-color: #f5f5f5;
    white-space: nowrap;
}

.Page-Header::before {
    height: 80px;
    width: 1px;
    display: inline-block;
    overflow: hidden;
    content: '';
    vertical-align: middle;
}

.Page-Title {
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.Page-Title::before {
    height: 100%;
    width: 1px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    content: '';
}

.Page-Title > h1 {
    padding: 10px 80px 10px 18px;
    margin: 0;
    display: inline-block;
    font-size: 20pt;
    vertical-align: middle;
    white-space: normal;
}

.Page-Icons {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -25px;
}

.Page-Content {
    padding: 0;
    margin: 0;
}


@media (max-width: 1020px) {
    .Page-Header {
        text-align: left;
    }
    .Page-Title > h1 {
        padding: 10px 80px 10px 19px;
        font-size: 16pt;
    }
    .Page {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: column;
    }
    .Page-Content {
        flex: 1;
    }
}