.Scene {
    text-align: center;
    height: 500pt;
}

.Scene > .Question {
    margin: 0.7em 0;
    font-style: italic;
}

.Scene .Choice {
    border: 1.5pt solid coral;
    background: lightcoral;
    border-radius: 0.8em;
    margin: 3pt;
    padding: 5pt;
    width: 400pt;
    display: inline-block;
}

.Scene .Choice:hover {
    background: lightsalmon;
}
