.Scene {
    text-align: center;
    width: auto;
    height: 0;
    padding-bottom: 65%;
    font-size: 14pt;
    display: flex;
    flex-flow: column;
}

.Scene-Header {
    padding: 10px;
}

.Scene-Header h3 {
    margin: 0;
}

.Scene-Question {
    margin: 1.2em 0em;
}

.Scene-Text {
    background: #ffffff77;
    padding: 0.5em;
    font-style: italic;
}

.Scene-Introduction {
    margin: 0.7em 3em;
    padding: 0.5em;
    background: #ffffff99;
}

.Scene-Choices {
    padding-bottom: 10px;
}

.Scene-Choice {
    border: 1.5pt solid #00000099;
    background: #00000066;
    border-radius: 0.8em;
    margin: 3pt;
    padding: 5pt;
    width: 400pt;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.Scene-Choice:hover {
    background: rgba(107, 189, 233, 0.5);
}

@media (max-width: 1020px) {
    .Scene {
        height: 100%;
        padding-bottom: 0;
    }
    
    .Scene-Choice {
        width: calc(100% - 50px);
    }

    .Scene-Introduction {
        margin: 0.7em 0px;
        padding: 5px 20px;
        background: #ffffff99;
    }

    .Scene-Spacer {
        flex: 1;
        height: 10px;
        overflow-y: auto;
    }
    
}
