.Scene {
    text-align: center;
    height: 600px;
    padding: 10px;
    font-size: 14pt;
}

.Scene > .Header {
    padding: 10px;
}

.Scene > .Header h3 {
    margin: 0;
}

.Scene > .Question {
    margin: 1.2em 0em;
}

.Scene > .Question > .Text {
    background: #ffffff77;
    padding: 0.5em;
    font-style: italic;
}

.Scene > .Introduction {
    margin: 0.7em 3em;
    padding: 0.5em;
    background: #ffffff77;
}

.Scene .Choice {
    border: 1.5pt solid coral;
    background: lightcoral;
    border-radius: 0.8em;
    margin: 3pt;
    padding: 5pt;
    width: 400pt;
    display: inline-block;
}

.Scene .Choice:hover {
    background: lightsalmon;
}
